examples/RunwaySignClassifier/xsdfromxml.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
 xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" 
 elementFormDefault="qualified" vc:minVersion="1.1" >

<xs:element name="RunwaySignClassifier">
<xs:complexType>
<xs:choice id="pSpec">
<xs:element name="Environment">
<xs:complexType>
<xs:sequence>
<xs:sequence id="AirportDec">
<xs:element name="KSFO">
<xs:complexType>
<xs:attribute name="icao_code" type="string" default="KSFO">
</xs:attribute>
<xs:attribute name="latitude_deg" type="double" default="37.6213">
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:type  value="double"/>
<xs:minInclusive  value="37.6213"/>
<xs:maxInclusive value="37.6213"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="longitude_deg" type="double" default="-122.379">
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:type  value="double"/>
<xs:minInclusive  value="-122.379"/>
<xs:maxInclusive value="-122.379"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="elevation_ft" type="double" default="13.0">
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:type  value="double"/>
<xs:minInclusive  value="13.0"/>
<xs:maxInclusive value="13.0"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="name" use="optional"/> 
</xs:complexType>
</xs:element>
<xs:element name="KBOS">
<xs:complexType>
<xs:attribute name="icao_code" type="string" default="KBOS">
</xs:attribute>
<xs:attribute name="latitude_deg" type="double" default="42.3656">
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:type  value="double"/>
<xs:minInclusive  value="42.3656"/>
<xs:maxInclusive value="42.3656"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="longitude_deg" type="double" default="-71.0096">
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:type  value="double"/>
<xs:minInclusive  value="-71.0096"/>
<xs:maxInclusive value="-71.0096"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="elevation_ft" type="double" default="20.0">
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:type  value="double"/>
<xs:minInclusive  value="20.0"/>
<xs:maxInclusive value="20.0"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="name" use="optional"/> 
</xs:complexType>
</xs:element>
<xs:element name="KSAN">
<xs:complexType>
<xs:attribute name="icao_code" type="string" default="KSAN">
</xs:attribute>
<xs:attribute name="latitude_deg" type="double" default="32.7336">
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:type  value="double"/>
<xs:minInclusive  value="32.7336"/>
<xs:maxInclusive value="32.7336"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="longitude_deg" type="double" default="-117.19">
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:type  value="double"/>
<xs:minInclusive  value="-117.19"/>
<xs:maxInclusive value="-117.19"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="elevation_ft" type="double" default="17.0">
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:type  value="double"/>
<xs:minInclusive  value="17.0"/>
<xs:maxInclusive value="17.0"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="name" use="optional"/> 
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:sequence id="WeatherDec">
<xs:element name="FairWeather">
<xs:complexType>
<xs:attribute name="visibility_m" type="double" default="10000.0">
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:type  value="double"/>
<xs:minInclusive  value="5000.0"/>
<xs:maxInclusive value="15000.0"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="precipitation_mm_h" type="double" default="0.0">
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:type  value="double"/>
<xs:minInclusive  value="0.0"/>
<xs:maxInclusive value="0.0"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="name" use="optional"/> 
</xs:complexType>
</xs:element>
<xs:element name="RainyWeather">
<xs:complexType>
<xs:attribute name="visibility_m" type="double" default="3000.0">
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:type  value="double"/>
<xs:minInclusive  value="1000.0"/>
<xs:maxInclusive value="5000.0"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="precipitation_mm_h" type="double" default="5.0">
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:type  value="double"/>
<xs:minInclusive  value="1.0"/>
<xs:maxInclusive value="20.0"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="name" use="optional"/> 
</xs:complexType>
</xs:element>
<xs:element name="SnowyWeather">
<xs:complexType>
<xs:attribute name="visibility_m" type="double" default="2000.0">
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:type  value="double"/>
<xs:minInclusive  value="500.0"/>
<xs:maxInclusive value="5000.0"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="precipitation_mm_h" type="double" default="3.0">
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:type  value="double"/>
<xs:minInclusive  value="0.5"/>
<xs:maxInclusive value="10.0"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="name" use="optional"/> 
</xs:complexType>
</xs:element>
<xs:element name="FoggyWeather">
<xs:complexType>
<xs:attribute name="visibility_m" type="double" default="800.0">
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:type  value="double"/>
<xs:minInclusive  value="200.0"/>
<xs:maxInclusive value="2000.0"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="precipitation_mm_h" type="double" default="0.0">
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:type  value="double"/>
<xs:minInclusive  value="0.0"/>
<xs:maxInclusive value="0.0"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="name" use="optional"/> 
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:sequence id="TimeOfDayDec">
<xs:element name="Morning">
<xs:complexType>
<xs:attribute name="sun_elevation_deg" type="double" default="15.0">
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:type  value="double"/>
<xs:minInclusive  value="5.0"/>
<xs:maxInclusive value="30.0"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="illuminance_lux" type="double" default="10000.0">
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:type  value="double"/>
<xs:minInclusive  value="1000.0"/>
<xs:maxInclusive value="25000.0"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="name" use="optional"/> 
</xs:complexType>
</xs:element>
<xs:element name="Afternoon">
<xs:complexType>
<xs:attribute name="sun_elevation_deg" type="double" default="45.0">
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:type  value="double"/>
<xs:minInclusive  value="30.0"/>
<xs:maxInclusive value="70.0"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="illuminance_lux" type="double" default="50000.0">
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:type  value="double"/>
<xs:minInclusive  value="25000.0"/>
<xs:maxInclusive value="100000.0"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="name" use="optional"/> 
</xs:complexType>
</xs:element>
<xs:element name="Dusk">
<xs:complexType>
<xs:attribute name="sun_elevation_deg" type="double" default="-3.0">
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:type  value="double"/>
<xs:minInclusive  value="-6.0"/>
<xs:maxInclusive value="0.0"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="illuminance_lux" type="double" default="400.0">
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:type  value="double"/>
<xs:minInclusive  value="40.0"/>
<xs:maxInclusive value="1000.0"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="name" use="optional"/> 
</xs:complexType>
</xs:element>
<xs:element name="Dawn">
<xs:complexType>
<xs:attribute name="sun_elevation_deg" type="double" default="2.0">
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:type  value="double"/>
<xs:minInclusive  value="-6.0"/>
<xs:maxInclusive value="10.0"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="illuminance_lux" type="double" default="500.0">
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:type  value="double"/>
<xs:minInclusive  value="40.0"/>
<xs:maxInclusive value="5000.0"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="name" use="optional"/> 
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:sequence>
<xs:attribute name="name" use="optional"/> 
</xs:complexType>
</xs:element>
<xs:element name="Sensor">
<xs:complexType>
<xs:sequence>
<xs:sequence id="DistanceDec">
<xs:element name="DS10">
<xs:complexType>
<xs:attribute name="distance_m" type="double" default="11.0">
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:type  value="double"/>
<xs:minInclusive  value="10.0"/>
<xs:maxInclusive value="12.0"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="name" use="optional"/> 
</xs:complexType>
</xs:element>
<xs:element name="DS12">
<xs:complexType>
<xs:attribute name="distance_m" type="double" default="13.0">
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:type  value="double"/>
<xs:minInclusive  value="12.0"/>
<xs:maxInclusive value="14.0"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="name" use="optional"/> 
</xs:complexType>
</xs:element>
<xs:element name="DS14">
<xs:complexType>
<xs:attribute name="distance_m" type="double" default="15.0">
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:type  value="double"/>
<xs:minInclusive  value="14.0"/>
<xs:maxInclusive value="16.0"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="name" use="optional"/> 
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:sequence id="ElevationDec">
<xs:element name="EL10">
<xs:complexType>
<xs:attribute name="elevation_m" type="double" default="1.15">
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:type  value="double"/>
<xs:minInclusive  value="1.0"/>
<xs:maxInclusive value="1.3"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="name" use="optional"/> 
</xs:complexType>
</xs:element>
<xs:element name="EL13">
<xs:complexType>
<xs:attribute name="elevation_m" type="double" default="1.45">
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:type  value="double"/>
<xs:minInclusive  value="1.3"/>
<xs:maxInclusive value="1.6"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="name" use="optional"/> 
</xs:complexType>
</xs:element>
<xs:element name="EL16">
<xs:complexType>
<xs:attribute name="elevation_m" type="double" default="1.75">
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:type  value="double"/>
<xs:minInclusive  value="1.6"/>
<xs:maxInclusive value="1.9"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="name" use="optional"/> 
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:sequence id="LateralOffsetDec">
<xs:element name="LO00">
<xs:complexType>
<xs:attribute name="lateral_offset_m" type="double" default="0.35">
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:type  value="double"/>
<xs:minInclusive  value="0.0"/>
<xs:maxInclusive value="0.7"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="name" use="optional"/> 
</xs:complexType>
</xs:element>
<xs:element name="LO07">
<xs:complexType>
<xs:attribute name="lateral_offset_m" type="double" default="1.05">
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:type  value="double"/>
<xs:minInclusive  value="0.7"/>
<xs:maxInclusive value="1.4"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="name" use="optional"/> 
</xs:complexType>
</xs:element>
<xs:element name="LO14">
<xs:complexType>
<xs:attribute name="lateral_offset_m" type="double" default="1.7">
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:type  value="double"/>
<xs:minInclusive  value="1.4"/>
<xs:maxInclusive value="2.0"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="name" use="optional"/> 
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:sequence>
<xs:attribute name="name" use="optional"/> 
</xs:complexType>
</xs:element>
<xs:element name="SystemArchitecture">
<xs:complexType>
<xs:sequence>
<xs:sequence id="DNNComponentDec">
<xs:element name="FasterRCNN">
<xs:complexType>
<xs:attribute name="backbone" type="string" default="ResNet50">
</xs:attribute>
<xs:attribute name="input_resolution_px" type="int" default="800">
<xs:simpleType>
<xs:restriction base="xs:int">
<xs:type  value="int"/>
<xs:minInclusive  value="600"/>
<xs:maxInclusive value="1200"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="confidence_threshold" type="double" default="0.95">
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:type  value="double"/>
<xs:minInclusive  value="0.5"/>
<xs:maxInclusive value="0.99"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="iou_threshold" type="double" default="0.95">
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:type  value="double"/>
<xs:minInclusive  value="0.3"/>
<xs:maxInclusive value="0.99"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="num_layers" type="int" default="50">
<xs:simpleType>
<xs:restriction base="xs:int">
<xs:type  value="int"/>
<xs:minInclusive  value="50"/>
<xs:maxInclusive value="50"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="name" use="optional"/> 
</xs:complexType>
</xs:element>
<xs:element name="YOLOv2">
<xs:complexType>
<xs:attribute name="backbone" type="string" default="DarkNet19">
</xs:attribute>
<xs:attribute name="input_resolution_px" type="int" default="448">
<xs:simpleType>
<xs:restriction base="xs:int">
<xs:type  value="int"/>
<xs:minInclusive  value="224"/>
<xs:maxInclusive value="448"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="confidence_threshold" type="double" default="0.95">
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:type  value="double"/>
<xs:minInclusive  value="0.5"/>
<xs:maxInclusive value="0.99"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="anchor_h_px" type="int" default="15">
<xs:simpleType>
<xs:restriction base="xs:int">
<xs:type  value="int"/>
<xs:minInclusive  value="15"/>
<xs:maxInclusive value="15"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="num_layers" type="int" default="19">
<xs:simpleType>
<xs:restriction base="xs:int">
<xs:type  value="int"/>
<xs:minInclusive  value="19"/>
<xs:maxInclusive value="19"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="name" use="optional"/> 
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:sequence id="SysArchDec">
<xs:element name="SafetyMonitor">
<xs:complexType>
<xs:attribute name="iou_divergence_threshold" type="double" default="0.32">
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:type  value="double"/>
<xs:minInclusive  value="0.1"/>
<xs:maxInclusive value="0.5"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="availability_target_pct" type="double" default="95.0">
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:type  value="double"/>
<xs:minInclusive  value="90.0"/>
<xs:maxInclusive value="99.0"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="name" use="optional"/> 
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:sequence>
<xs:attribute name="name" use="optional"/> 
</xs:complexType>
</xs:element>
</xs:choice>
<xs:attribute name="name" use="optional"/> 
</xs:complexType>
</xs:element>
</xs:schema>
